<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<title>{{app.name}}{{#breadcrumb}} &gt; {{.}}{{/breadcrumb}}</title>

		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-responsive.css">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800" />

		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
		<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>

		<link rel="icon" type="image/png" href="/assets/weight.png">
	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="fancyfont_large brand" style="font-weight: 800;" href="/home">{{app.name}}</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							{{> Site/TopMenu}}
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container">

			
				<div id="error_div" class="error_div">
					{{#error}}Error: {{.}}{{/error}}
				</div>
				{{#error}}<br />{{/error}}
				<div id="success_div" class="success_div"></div>