{{#app.menu_items}}

	{{#current}}
		<li class="active">
	{{/current}}
	{{^current}}
		<li>
	{{/current}}

	<a href="{{url}}" style="font-family: 'Merriweather Sans', sans-serif; font-weight: 400;">{{name}}</a></li>

{{/app.menu_items}}
