{{> Site/Header}}

<br />

<form method="post" action="/signup" class="form-horizontal">

	<div class="control-group">
		<label class="control-label" for="inputUsername">User name</label>
		<div class="controls">
			<input type="text" autofocus="autofocus" id="inputUsername" name="username" value="{{username}}" required>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="inputPassword">Password</label>
		<div class="controls">
			<input type="password" id="inputPassword" name="password" required>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="inputEmail">Email address</label>
		<div class="controls">
			<input type="email" id="inputEmail" name="email" value="{{email}}" required>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Sign up</button>
		</div>
	</div>

</form>

{{> Site/Footer}}
