{{> Site/Header}}

<form method="post" action="/signup">

	<table>

		<tr>
		<td><label>User Name:</label></td>
		<td><input type="text" name="username" value="{{username}}" /></td>
		</tr>

		<tr>
		<td><label>Password:</label></td>
		<td><input type="password" name="password" /></td>
		</tr>

		<tr>
		<td><label>Email: </label></td>
		<td><input type="text" name="email" value="{{email}}" /></td>
		</tr>

		<tr>
		<td colspan="2"><input type="submit" value="Submit" /></td>
		</tr>

	</table>

 </form>

 {{> Site/Footer}}