RewriteEngine On

# RewriteCond %{HTTP_HOST} ^trackly\.me$ [NC]
# RewriteRule ^(.*)$ https://www.trackly.me/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]

php_value upload_max_filesize 100K
