{{> Site/Header}}

<script type="text/javascript" src="/assets/js/records.js"></script>

<br />
{{#has_weights}}

	<table class="table table-striped table-bordered">

		<thead>
			<tr>
				<th>Date</th>
				<th>Weight</th>
				<th>Comment</th>
				<th>Actions</th>
			</tr>	
		</thead>

		<tbody>
		{{#weights}}
			<tr id="row_{{id}}">
				<td>{{time}}</td>
				<td><input id="weight_{{id}}" type="text" value="{{weight}}" /> <span>{{app.weight_units}}</span></td>
				<td><textarea style="margin-bottom: 0px;" cols="50" rows="2" id="comment_{{id}}">{{comment}}</textarea></td>
				<td>
					<input type="submit" class="btn" value="Update" onClick="updateRecord({{id}}); return false;">
					<input type="submit" class="btn" value="Delete" onClick="deleteRecord({{id}}); return false;">
				</td>
			</tr>
		{{/weights}}
		</tbody>

	</table>

{{/has_weights}}

{{^has_weights}}
	Hey there, it looks like you don't have any data stored currently, so you should
	<br />
	go to the <a href="/home">Home</a> page and add some data, then you'll be able to edit it here!
{{/has_weights}}

{{> Site/Footer}}
