{{> Site/Header}}

{{app.name}} is a simple weight tracking website made by <a href="http://subtly.me">me</a>.<br />
I built it since I was frustrated with the lack of availability of simple, easy to use sites for doing simple weight tracking.<br />
Right now it's pretty basic, but I intend to add a lot of things soon.<br />
The source code is freely available <a href="https://github.com/kneejah/weight">here</a>.<br /><br />

Also, feel free to email <a href="mailto:nick@subtly.me">me</a> with questions, comments, suggestions, complaints and bug reports.<br /><br />

Enjoy!

{{> Site/Footer}}
