{{> Site/Header}}

	<form action="/tools/import" enctype="multipart/form-data" method="post">
		<input type="file" name="file" />
		<br/>
		<input type="submit" value="Import data"/>
	</form>

	<div>

		Format should look like this: <br />
		<div style="font-family: monospace;">
			date,weight<br />
			1/1/2013,123<br />
			1/2/2013,124
		</div>
	</div>

{{> Site/Footer}}