{{> Site/Header}}

	<p style="font-weight: bold;">Import CSV data</p>

	<form action="/tools/import" enctype="multipart/form-data" method="post">
		<input type="file" name="file" />
		<br/>
		<input type="submit" class="btn" value="Import CSV data" />
	</form>

	<div>

		Your .csv file format should look something like this:<br />
		(comment is an optional column)<br /><br />
		<div style="font-family: monospace; border: 1px solid #000000; padding: 5px; width: 288px;">
			Date,Weight,Comment<br />
			1/1/2013,123,worked out for 30 mins!<br />
			1/2/2013,124
		</div>
	</div>

	<br /><br />
	<p style="font-weight: bold;">Export data as CSV</p>
	<input type="submit" class="btn" value="Export data" onclick="window.location = '/tools/export';" />
	
{{> Site/Footer}}
