{{> Site/Header}}

	{{#logged_in}}

		<script type="text/javascript">

			$(function() {
				$("#date").datepicker();
			});
			
			var monthNames = ["January", "February", "March", "April", "May", "June",
				"July", "August", "September", "October", "November", "December"];

			function getWeightData(daysBack)
			{
				$.ajax({
					dataType: "json",
					url:      "/api/weights",
					type:     "GET",
					data:     {days_back: daysBack},
					success:  function(json) {
						drawChart(json.result);
					}
				});
			}

			function generateTooltip(parsedDate, weightNum, comment, units)
			{
				var hrs = parsedDate.getHours();
				var mins = parsedDate.getMinutes();
				if (mins < 10) mins = "0" + mins;

				var hrSuffix  = (hrs > 12) ? "pm" : "am"; 
				var convHours = (hrs > 12) ? hrs - 12 : hrs;
				if (convHours == 0) convHours = 12;

				var s = "<div style='font-weight: bold; padding: 5px;'>"
					+ monthNames[parsedDate.getMonth()] + " " + parsedDate.getDate()
					+ ", " + parsedDate.getFullYear() + ", " + convHours + ":"
					+ mins + " " + hrSuffix + "<br />Weight: " + weightNum + " " + units;

				if (comment != "")
				{
					s = s + "<br />Comment: " + '"' + comment + '"';
				}

				s = s + "</div>";

				return s;
			}

			function startGraph()
			{
				var val = $('#filter_picker').val();
				getWeightData(val);
			}

			google.load("visualization", "1", { packages:["corechart"] });
			google.setOnLoadCallback(startGraph);

			function drawChart(jsonData) {

				var data = new google.visualization.DataTable();
				data.addColumn('datetime',   'Year');
				data.addColumn('number',     'Weight');
				data.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});

				for (var i in jsonData)
				{
					var tmp = jsonData[i];

					var dateNum    = parseInt(tmp['date']) * 1000;
					var parsedDate = new Date(dateNum);
					var weightNum  = parseFloat(tmp['weight']);
					var comment    = tmp['comment'];

					var commentVal = generateTooltip(parsedDate, weightNum, comment, '{{app.units}}');

					data.addRow([
						parsedDate,
						weightNum,
						commentVal
					]);
				}

				var options = {
					title:     "My Weight",
					pointSize: 4,
					tooltip:   {isHtml: true},
					legend:    {position: 'none'},
					// curveType: "function"
				};

				var chart_div = document.getElementById('chart_div');
				var chart = new google.visualization.LineChart(chart_div);
				chart.draw(data, options);
			}

			function addWeight(el)
			{
				var weightVal  = $('#weight').val();
				var dateVal    = $('#date').val();
				var commentVal = $('#comment').val();

				$.ajax({
					dataType: "json",
					url:      "/api/weights",
					type:     "POST",
					data:     {weight: weightVal, date: dateVal, comment: commentVal},
					success:  function(json) {
						processResult(json);
					}
				});
			}

			function processResult(data)
			{
				if (data.success == false)
				{
					$('#error_div').html('Error: ' + data.error);
				}
				else
				{
					$('#error_div').html('');
					startGraph();
				}
			}
		</script>

		<div style="width: 1200px;">

		<div id="chart_div" style="clear: both; height: 500px;"></div>

		<div style="float: right; padding-right: 175px;">
			<select id="filter_picker" onChange="startGraph();">
				<option value="1">1 day</option>
				<option value="7">7 days</option>
				<option value="30" selected="true">1 month</option>
				<option value="183">6 months</option>
				<option value="365">1 year</option>
				<option value="all">All data</option>
			</select>
		</div>

		<form onSubmit="addWeight(this); return false;" method="post" action="/action/weight/add">

			<table>

				<tr>
				<td><label for="weight">Weight ({{app.units}}):</label></td>
				<td><input type="text" id="weight" name="weight" value="" /></td>
				</tr>

				<tr>
				<td><label for="date">Optional date:</label></td>
				<td><input type="text" id="date" name="date" value="" /></td>
				</tr>

				<tr>
				<td><label for="comment">Comment:</label></td>
				<td><textarea cols="50" rows="4" id="comment" name="comment"></textarea></td>
				</tr>

				<tr>
				<td colspan="2"><input type="submit" class="btn" value="Add weight" onSubmit/></td>
				</tr>

			</table>

		</form>

		</div>

	{{/logged_in}}
	{{^logged_in}}
		Welcome stranger...

		<br /><br />
		{{app.name}} is a simple site for tracking your weight.
		<br /><br />
		Right now there isn't much, but more is coming soon!
	{{/logged_in}}

{{> Site/Footer}}
