{{> Site/Header}}

<script type="text/javascript">
	function cancelAccount(password)
	{
		var passwordStr = prompt(
			"Are you sure you want to cancel your account?\n" +
			"If you cancel your account, ALL of your data will be gone forever!\n\n" +
			"Please enter your password to continue:");

		if (passwordStr != null)
		{
			postToUrl('/account/cancel', {password: passwordStr});
		}
		return false;
	}

	function postToUrl(url, params) {
    	var form = document.createElement('form');
    	form.action = url;
    	form.method = 'POST';

    	for (var i in params) {
        	if (params.hasOwnProperty(i)) {
            	var input = document.createElement('input');
            	input.type = 'hidden';
            	input.name = i;
            	input.value = params[i];
            	form.appendChild(input);
        	}
    	}

    	form.submit();
	}
</script>

<form method="post" action="/account">

	<table class="table table-bordered table-striped" style="margin: 10px; margin-left: 200px; margin-top: 50px; width: 651px;">
		<tr>
			<td style="padding: 10px; text-align: right;">
				User name
			</td>
			<td style="padding: 10px;">
				<input type="text" name="username" value="{{user.username}}" disabled="disabled" style="cursor: default; margin-bottom: 0px;" />
			</td>
		</tr>
		<tr>
			<td style="padding: 10px; text-align: right;">
				Email address
			</td>
			<td style="padding: 10px;">
				<input type="email" name="email" value="{{user.email_address}}" style="margin-bottom: 0px;" />
			</td>
		</tr>
		<tr>
			<td style="padding: 10px; text-align: right;">
				Change your password
			</td>
			<td style="padding: 10px;">
				<input type="password" name="old_password" value="" placeholder="Old password" style="margin-bottom: 10px;" /><br />
				<input type="password" name="new_password" value="" placeholder="New password" style="margin-bottom: 0px;" />
			</td>
		</tr>
		<tr>
			<td style="padding: 10px; text-align: right;">
				Cancel your account
			</td>
			<td style="padding: 10px;">
				<button type="submit" class="btn" onClick="cancelAccount(); return false;">Cancel</button>
			</td>
		</tr>
	</table>

	<div style="margin-left: 477px; margin-top: 20px;">
		<button type="submit" class="btn">Save</button>
	</div>

</form>

{{> Site/Footer}}
